# docker-compose.yml

services:
  frontend:
    build:
      context: . # Use root folder as context
      dockerfile: ./frontend/Dockerfile # Path to the Dockerfile
    restart: always

  backend:
    build:
      context: . # Use root folder as context
      dockerfile: ./backend/Dockerfile # Path to the Dockerfile
    env_file:
      - .env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
    # Mount the local credential file into the container
    volumes:
      # - [HOST_PATH]:[CONTAINER_PATH]:ro
      # This makes your local credentials.json file appear at /app/credentials.json
      # The ":ro" makes it read-only inside the container for extra security.
      - ./backend/credentials.json:/app/credentials.json:ro
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: always

  adminer:
    image: adminer
    restart: always

# Define only the volume for persistent data
volumes:
  postgres_data: